/* .header-container{
  
} */
.header-info{
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.header-menu{
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif !important;
}
.header-nav{
  font-size: 1em;
  /* font-weight: bold; */
}
.about-menu-icon{
  opacity: 0.7;
  font-size: 0.5em;
  cursor: pointer;
  margin-left: -9px;
}
.header-logo img{
  max-width: 150px;
}
.header-contacts{
  font-size: 1.2em;
}

.left-menu-btn{
  color: var(--primary-site-color);
  font-size: 1.5rem;
  cursor: pointer;
}