.footer-container{
  display: flex;
  justify-content: space-between;
  background-color: #F3F3F3;
  padding: 40px 6%;
}
.footer-container a{
  color: #171717;
}
.footer-container.sm{
  flex-wrap: wrap;
}
.footer-container h4{
  margin: 5px 0;
}
.footer-container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-container a:hover{
  color: var(--primary-site-color);
}
.footer-container i{
  margin-right: 5px;
  color: var(--primary-site-color);
}

.footer-container ul li{
  padding: 5px 7px;
  padding-left: 0;
}

.footer-info div{
  margin-bottom: 10px;
}
.footer-info .logo img{
  width: 200px;
}

.footer-bar{
  display: flex;
  justify-content: space-between;
  padding: 20px 6%;
  background-color: #F3F3F3;
  border-top: 1px solid #ccc;
  font-size: 0.8rem;
}
.footer-bar.sm{
  display: block;
}
.footer-bar.sm
.copyright{
  margin-bottom: 8px;
}