.reviews-route-container{
  padding: 40px 6%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reviews-route-item{
  width: 400px;
}

.reviews-route-container
.reviews-estimate{
  position: static;
}

.reviews-route-container
.reviews-content{
  font-size: 1.1rem;
}