.contacts-container{
  padding: 40px 6%;
}


.contacts-container.lg
.contacts-content{
  display: flex;
  min-height: 40vh;
}

.contacts-content{
  min-height: 50vh;
}

.contacts-container.lg
.contacts-text{
  width: 50%;
}
.contacts-socials{
  margin: 50px 0;
  font-size: 2rem;
}
.contacts-socials a{
  margin-right: 20px;
  color: #2196F3;
}

.contacts-container.lg
.contacts-map{
  width: 50%;
  height: inherit;
}
.contacts-map iframe{
  width: 100%;
  min-height: 30vh;
}